services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app
      - FLASK_DEBUG=1
      - DB_HOST=srv466.hstgr.io
      - DB_USER=u225637494_cidadao
      - DB_PASS=20DKAms2
      - DB_NAME=u225637494_cidadao
      - SECRET_KEY=dev_secret_key_change_in_prod
