services:
  web:
    container_name: cidadao-app
    build: .
    restart: always
    ports:
      - "127.0.0.1:5010:5000"
    environment:
      - FLASK_APP=app
      - FLASK_DEBUG=0
      - DB_HOST=srv466.hstgr.io
      - DB_USER=u225637494_cidadao
      - DB_PASS=20DKAms2
      - DB_NAME=u225637494_cidadao
      - SECRET_KEY=dev_secret_key_change_in_prod

  webhook:
    container_name: cidadao-webhook
    build: 
      context: .
      dockerfile: Dockerfile.webhook
    command: -verbose -hooks=/etc/webhook/hooks.json -hotreload
    restart: always
    user: "0:0"
    ports:
      - "9000:9000"
    volumes:
      - ./hooks.json:/etc/webhook/hooks.json
      - ./redeploy.sh:/var/scripts/redeploy.sh
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/app
      - ~/.ssh:/root/.ssh