name: Deploy Mabus VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Executar comandos remotos via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/cidadao-terraroxa
            git fetch --all
            git reset --hard origin/main
            docker compose up -d --build web
            docker image prune -f
